.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0px 0px 3px 3px rgb(95, 0, 95);
}
footer {
    
    margin-bottom: auto;

}

.footer {
    background-color: rgb(248, 207, 101);
}

header,
section,
footer{
    margin: 0;
    padding: 0;
}



.bg-image {
    
    background-image: url(assets/man-in-airport.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}

body {
    background-image: linear-gradient(rgb(248, 207, 101), white);
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.rotate {
    -webkit-transform: rotate(-90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(-90deg);  /* IE 9 */
          transform: rotate(-90deg); 
    padding: 1rem
}

.less-padding {
    padding: 0;
}
.subtitle:not(:last-child) {
     margin: 0;
 }

 .card-content {
     padding-left:0;
 }

 #active-cases-title{
     margin-top: auto;
 }

 #new-cases-title {
     margin-top: auto;
 }

.chart-container {
    width: 100%;
}

 @media only screen and (max-width: 768px) {
    .rotate {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
              transform: rotate(0deg); 
        padding: 1rem
    }
    .card-content {
        padding-left: 24px;
    }
  }
.progress {
    z-index: 1;
}

#about-page {
    color: purple
}

#green {
    background-color: green;
    color: green;
}

#yellow {
    background-color: gold;
    color: gold;
}

#red {
    background-color: darkred;
    color: darkred;
}

.notification {
    background-color: white;
}

@media only screen and (max-width: 768px) {
.sticky {
    position: sticky;
    top: 6vh; /* When the element reaches top: 10px, it becomes fixed. */
    z-index: 9;
  }

  .sticky2 {
    position: sticky;
    top: 13vh; /* When the element reaches top: 10px, it becomes fixed. */
    z-index: 9;
  }
}