.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    box-shadow: 0px 0px 3px 3px red;
}
footer {
    background-color: beige;
    margin-top: 100px;
}

/* .hero {

    padding-top: 50px;
} */

.leftPadding {

    margin-left: 20px;
}